@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* * {
  border: 1px solid red;
} */

:root {
  --primary-color: #1ecbe1;
  --dark-gray: #41413f;
  --light-gray: #d3d3d3;
}

body {
  font-family: 'Merriweather Sans';
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: 8rem 1.8rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

hr.breaker {
  width: 6rem;
  margin: 1.5rem auto;
  height: 0.2rem;
  opacity: 1;
  border: none;
}

hr.breaker-primary {
  background-color: var(--primary-color);
}

hr.breaker-white {
  background-color: var(--light-gray);
}

.scroll-down {
  color: #41413f;
}

/* Hamburger Menu styles */
.menu {
  --s: 30px; /* control the size */
  --c: var(--primary-color); /* the color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: '';
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-nav {
  padding: 1rem 2.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 55px;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.extend {
  height: 35vh;
  transition: all 0.4s ease;
}

.go-top {
  padding-top: -1px;
  align-self: start;
}

.nav-name {
  font-size: 2rem;
  color: var(--dark-gray);
}

.mobile-nav.open {
  /* display: block;
  transition: all 0.4s ease; */
  display: block;
  max-height: 1000px;
  opacity: 1;

  @starting-style {
    max-height: 0;
    opacity: 0;
  }
}

.nav-links {
  color: var(--light-gray);
  font-size: 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  display: none;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.mobile-nav {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  transition-property: display, opacity, max-height;
  transition-duration: 1.25s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}

.mobile-links {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.mobile-links li {
  font-size: 2.1rem;
}

.main-header {
  height: 70vh;
  background: linear-gradient(
      to bottom,
      rgba(65, 65, 63, 0.9) 0%,
      rgba(65, 65, 63, 0.9) 100%
    ),
    url('../img/program.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
}

.header-container h1 {
  font-size: 4rem;
  text-align: center;
}

.header-container p {
  font-size: 2.3rem;
}

.header-container .btn {
  margin-top: 6rem;
  color: var(--dark-gray);
}

.btn {
  padding: 1.5rem 3rem;
  border-radius: 50px;
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: 1.8rem;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-white {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

/* Section About */
section#about {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

/* Section Services */

section#services {
  height: 100%;
}

.services-container {
  margin: 0 auto;
}

.service-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  height: 100%;
  margin: 3rem 0;
}

.service {
  text-align: center;
}

.service h4 {
  font-size: 2.1rem;
}

.service p {
  color: #888;
  font-size: 1.6rem;
}

ion-icon {
  color: var(--primary-color);
  font-size: 6rem;
  z-index: -99999;
}
/* Section Projects */
div#projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.project {
  height: 300px;
}
.overlay {
  opacity: 0;
}

.project {
  position: relative;
  text-align: center;
}

.project a {
  color: #d3d3d3;
}

.project h4 {
  color: var(--primary-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 93, 105, 0.781);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark-gray);
  font-size: 1.7rem;
  transition: all 0.3s ease;
  opacity: 1;
}

.overlay:hover {
  color: var(--dark-gray);
  opacity: 1;
}

.five-clock {
  background-image: url(../img/cocktail.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.calculator {
  background-image: url(../img/calculator.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.brew {
  background-image: url(../img/bigBrewNation.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.todo {
  background-image: url(../img/todo.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inventory {
  background-image: url(../img/easyInventory.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.popularstreaming {
  background-image: url(../img/movie.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Section Resume */
section#resume {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

section#resume h2 {
  font-size: 2.1rem;
}

.resume-choices a {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
}

/* Section Contact */
.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-container p {
  font-size: 1.7rem;
  color: #888;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

#email,
#phone,
#name,
#message {
  padding: 1.5rem 1.8rem;
  outline: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 20px;
}

#email:focus,
#phone:focus,
#name:focus,
#message:focus {
  outline: 2px solid var(--primary-color);
}

::placeholder {
  color: var(--dark-gray);
  font-size: 1.2rem;
  opacity: 0.8;
  text-transform: uppercase;
}

footer {
  background-color: #ececec;
  color: var(--dark-gray);
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 0;
}

/* ***************************
****** Resume site styles ****
*************************** */

/* section.section-resume {
  padding-top: 0;
}

.resume-body {
  font-family: 'Libre Baskerville', sans-serif;
  color: var(--dark-gray);
  background-color: #e9e8e8;
}

a.resume-a:link,
a.resume-a:visited {
  color: #3498db;
  text-decoration: none;
  transition: 0.3s ease;
}

a.resume-a:hover,
a.resume-a:active {
  color: #16547e;
}

h1.resume-h1,
h2.resume-h2,
h3.resume-h3,
h4.resume-h4,
h5 {
  font-family: 'League Spartan', serif;
}

h1.resume-h1 {
  font-size: 4.5rem;
  color: var(--primary-color);
}

h2.project.resume-left-h2 {
  color: yellow;
}

h3.resume-h3 {
  font-size: 2rem;
}

h4.resume-h4 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

p.resume-p {
  font-size: 1.4rem;
}

p.date {
  margin: 0 0 10px 0;
  font-style: italic;
  color: #777;
}
.contact-item {
  font-size: 1.4rem;
}

.resume-left-h2 {
  text-align: right;
  color: var(--primary-color);
  border-top: 1px solid rgba(128, 128, 128, 0.596);
  padding-top: 2rem;
  text-transform: uppercase;
  font-size: 2.1rem;
}
.header-resume {
  grid-area: header;
  text-align: right;
  padding: 2rem 2rem;
}

.container-resume {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    90deg,
    #3c3d3f 0%,
    #3c3d3f 25%,
    rgb(255, 255, 255) 25%
  );
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'header header'
    'summary-left summary-right'
    'work-left work-right'
    'education-left education-right'
    'skills-left skills-right'
    'projects-left projects-right';
  column-gap: 2.5rem;
}

.work-right .item:last-of-type,
.education-right .item:last-of-type {
  margin-bottom: 0;
}

.item:first-of-type {
  margin-top: 1.5rem;
}

.item {
  margin-bottom: 1.6rem;
}

.summary-left {
  grid-area: summary-left;
}
.summary-right {
  grid-area: summary-right;
}

.work-left {
  grid-area: work-left;
}
.work-right {
  grid-area: work-right;
}
.education-left {
  grid-area: education-left;
}
.education-right {
  grid-area: education-right;
}
.skills-left {
  grid-area: skills-left;
}
.skills-right {
  grid-area: skills-right;
}
.projects-left {
  grid-area: projects-left;
}
.projects-right {
  grid-area: projects-right;
}

.summary-right,
.skills-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-right,
.work-right,
.education-right,
.skills-right,
.projects-right {
  padding: 2rem 0;
  margin: 0 1rem 0 0;
  border-top: 1px solid rgba(68, 68, 68, 0.596);
}

.summary-left,
.work-left,
.education-left,
.skills-left,
.projects-left {
  margin-right: 1rem;
}

.skills ul {
  list-style: none;
  padding: 0;
}
.skills ul li {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
  font-size: 1.4rem;
} */

/* ********************
    Projects Page
 **********************/
.project-container {
  max-width: 1100px;
  margin: 5rem auto;
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

main {
  background-color: #ececec;
  padding: 2rem 0;
}

.project-container {
  color: #000;
  margin-bottom: 0;
}

ion-icon.back-arrow {
  font-size: 2.8rem;
}

.project-container h3 {
  color: var(--primary-color);
}

.project-header h1 {
  font-size: 4.5rem;
}

.project-header h4 {
  font-size: 2.2rem;
  color: var(--dark-gray);
  padding-bottom: 1rem;
}

.project-header {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  padding-top: 3rem;
}

.project-header a {
  font-size: 1.4rem;
  color: var(--dark-gray);
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  min-height: 40vh;
}

.project-card img {
  padding: 0.5rem;
  border-radius: 10px;
}

.project-details {
  padding: 1.5rem 2rem 4rem 2rem;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 2.5rem;
}

.project-description {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.more-info,
.more-info:link,
.more-info:active,
.more-info:visited {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--primary-color);
  font-size: 1.1rem;
  border-bottom: 1px solid transparent;
  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.more-info:hover,
.more-info:focus {
  color: #000;
}

.live,
.live:link,
.live:active,
.live:visited {
  position: absolute;
  bottom: 1rem;
  right: 30%;
  color: var(--primary-color);
  font-size: 1.1rem;

  text-transform: uppercase;
  transition: 0.2s ease-in;
}

.live:hover,
.live:focus {
  color: #000;
}

.icon {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .project-header h4 {
    font-size: 1.4rem;
  }

  .project-container {
    gap: 2rem;
  }

  .live,
  .live:link,
  .live:active,
  .live:visited {
    right: 40%;
  }
}

@media (max-width: 768px) {
  .resume-h1 {
    font-size: 2.5rem;
  }

  .contact-item {
    font-size: 1.1rem;
  }

  .container-resume {
    column-gap: 0.5rem;
    background: #fff;
    grid-template-columns: 1fr;
  }

  h2.resume-left-h2 {
    font-size: 1.5rem;
  }

  section.skills-left,
  section.skills-right,
  section.education-left,
  section.work-left,
  section.summary-left,
  section.projects-left {
    display: none !important;
  }

  section.summary-right,
  section.work-right,
  section.education-right,
  section.projects-right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-header a {
    color: var(--primary-color);
    text-shadow: 1px 2px 1px var(--dark-gray);
    border-bottom: 2px solid var(--primary-color);
  }

  .container-resume {
    margin: 0;
  }

  .item {
    text-align: center;
  }

  .mobile-header {
    font-size: 2.2rem;
    color: var(--primary-color);
    text-transform: uppercase;
  }

  .project-container {
    width: 90%;
  }

  .project-header h1 {
    font-size: 3rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .nav-links {
    display: block;
  }
  .menu {
    display: none;
  }

  .main-nav {
    background-color: transparent;
    box-shadow: none;
    padding-top: 3rem;
    height: 75px;
  }

  .nav-name {
    color: var(--light-gray);
  }

  .nav-links {
    display: flex;
  }

  .service-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mobile-header {
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }

  .container.contact-container {
    max-width: 800px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .main-header {
    height: 100vh;
  }

  .service-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .header-container h1 {
    font-size: 6rem;
    text-align: center;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
