@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* * {
  border: 1px solid red;
} */

:root {
  --primary-color: #1ecbe1;
  --dark-gray: rgb(65, 65, 63);
  --light-gray: #d3d3d3;
}

body {
  font-family: 'Merriweather Sans';
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

section {
  padding: 8rem 1.8rem;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

hr.breaker {
  width: 6rem;
  margin: 1.5rem auto;
  height: 0.2rem;
  opacity: 1;
  border: none;
}

hr.breaker-primary {
  background-color: var(--primary-color);
}

hr.breaker-white {
  background-color: var(--light-gray);
}

/* Hamburger Menu styles */
.menu {
  --s: 30px; /* control the size */
  --c: var(--primary-color); /* the color */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: '';
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-nav {
  padding: 1rem 2.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 55px;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.extend {
  height: 30vh;
  transition: all 0.4s ease;
}

.go-top {
  padding-top: -1px;
  align-self: start;
}

.nav-name {
  font-size: 2rem;
  color: var(--dark-gray);
}

.mobile-nav.open {
  /* display: block;
  transition: all 0.4s ease; */
  display: block;
  max-height: 1000px;
  opacity: 1;

  @starting-style {
    max-height: 0;
    opacity: 0;
  }
}

.nav-links {
  color: var(--light-gray);
  font-size: 1.8rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  display: none;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  transition-property: display, opacity, max-height;
  transition-duration: 1.25s;
  transition-timing-function: ease-in-out;
  transition-behavior: allow-discrete;
}

.mobile-links {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.mobile-links li {
  font-size: 2.1rem;
}

header {
  height: 70vh;
  background: linear-gradient(
      to bottom,
      rgba(65, 65, 63, 0.9) 0%,
      rgba(65, 65, 63, 0.9) 100%
    ),
    url('../img/program.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-gray);
}

.header-container h1 {
  font-size: 6rem;
  text-align: center;
}

.header-container p {
  font-size: 2.3rem;
}

.header-container .btn {
  margin-top: 6rem;
  color: var(--dark-gray);
}

.btn {
  padding: 1.5rem 3rem;
  border-radius: 50px;
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: 1.8rem;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-white {
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

/* Section About */
section#about {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

.about-container p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

/* Section Services */

section#services {
  height: 100%;
}

.services-container {
  margin: 0 auto;
}

.service-items {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  height: 100%;
  margin: 3rem 0;
}

.service {
  text-align: center;
}

.service h4 {
  font-size: 2.1rem;
}

.service p {
  color: #888;
  font-size: 1.6rem;
}

ion-icon {
  color: var(--primary-color);
  font-size: 6rem;
  z-index: -99999;
}

/* Section Resume */
section#resume {
  background-color: var(--dark-gray);
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

section#resume h2 {
  font-size: 2.1rem;
}

.resume-choices a {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .nav-links {
    display: block;
  }
  .menu {
    display: none;
  }

  .main-nav {
    background-color: transparent;
    box-shadow: none;
    padding-top: 3rem;
    height: 75px;
  }

  .nav-name {
    color: var(--light-gray);
  }

  .nav-links {
    display: flex;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  header {
    height: 100vh;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
