body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #333;
  background-color: #e9e8e8;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 3rem 5.5rem 3rem 5.5rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 30%,
    rgb(255, 255, 255) 30%
  );
}

main {
  width: 70%;
}

section {
  padding-bottom: 5px;
}

h1,
h2 {
  color: #b420e0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  color: #666;
}

.header {
  text-align: right;
}
.header h1 {
  margin: 10px 0 0 0;
}
.contact {
  margin: 5px 0;
  font-size: 14px;
  margin-bottom: 0;
}
.contact a:link,
.contact a:visited {
  color: #003a77;
  text-decoration: none;
}

.contact a:hover,
.contact a:active {
  color: #0054ad;
  text-decoration: none;
}

.linked {
  margin: 0;
  font-size: 14px;
}

.linked a:link,
.linked a:visited {
  color: #003a77;
  text-decoration: none;
}

.linked a:hover,
.linked a:active {
  color: #0054ad;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
}

.section {
  margin: 20px 0;
}
.section h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid #777;
  padding-bottom: 5px;
}
.item {
  margin-bottom: 15px;
}
.item h3 {
  margin: 0;
  font-size: 18px;
  color: #555;
}
.item p {
  margin: 5px 0;
  font-size: 14px;
}

p.date {
  margin: 0 0 10px 0;
  font-style: italic;
  color: #777;
}
.skills ul {
  list-style: none;
  padding: 0;
}
.skills ul li {
  display: inline-block;
  background: #003a77;
  color: #fff;
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
  border-radius: 4px;
}
