*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 1.4;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #e9e8e8;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 0, 0) 30%,
    rgb(255, 255, 255) 30%
  );
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: 12rem 1fr;
  grid-template-areas:
    'header header'
    'summary-left summary-right'
    'work-left work-right'
    'education-left education-right'
    'skills-left skills-right'
    'projects-left projects-right';
  column-gap: 2.5rem;
}

a:link,
a:visited {
  color: #3498db;
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #267eb9;
}

header {
  grid-area: header;
}

.summary-left {
  grid-area: summary-left;
}
.summary-right {
  grid-area: summary-right;
}

.work-left {
  grid-area: work-left;
}
.work-right {
  grid-area: work-right;
}
.education-left {
  grid-area: education-left;
}
.education-right {
  grid-area: education-right;
}
.skills-left {
  grid-area: skills-left;
}
.skills-right {
  grid-area: skills-right;
}
.projects-left {
  grid-area: projects-left;
}
.projects-right {
  grid-area: projects-right;
}

.summary-right,
.work-right,
.education-right,
.skills-right,
.projects-right {
  margin: 0 1rem 3rem 1rem;
}
